.extra {
    height: 1vh;
}

.saveBTN {
    position: relative;
    top: 30px;
}

.leftSide {
    border-right: black 1px solid;
}

.rightSide {
    border-left: black 1px solid;
}

.input-field {
    margin-bottom: 2rem !important;
}

.LeftHeader {
    border-bottom: 2px solid black;
}

.RightHeader {
    border-bottom: 2px solid black;
}